@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
      margin-top: 50px;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
      margin-top: -50px;
      margin-bottom: -100px;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        width: 400px;
        height: 100px;
        border-radius: 50px;
        background-color: rebeccapurple;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 250px;
          height: 50px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    @include mobile {
      flex-direction: column;
      width: 90%;
    }

    .box {
      padding: 50px;
      width: 25%;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3{
        display: none;

        @include mobile{
          display: block;
          font-weight: normal;
          text-align: center;
          font-size: 12px;
        }
      }

      @include mobile {
        border: none ;
        width: 100%;
        align-items: center;
        gap: 5px;
        padding: 5px;
      }

      p {
        @include mobile {
          display: none;
        }
      }

      button {
        padding: 10px;
        background-color: rebeccapurple;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid rebeccapurple;
          border-radius: 5px;
          color: rebeccapurple;
          width: 50%;
          padding: 5px;
        }
      }
    }


  }
}
